<style type="text/css" xmlns="http://www.w3.org/1999/html">
.root{
    display: flex;
    justify-content: center;
    background-color: #c8d6e5;
    padding: 20px;
}
 .myframe{
     width:600px;
     background-color: #ffffff;
     padding: 20px;
     border-radius: 10px;
     margin-top: 100px;
 }
    .gap{
        margin-top: 20px;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/JavaScript/project.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<form action="/categorysubmit" method="post" enctype="multipart/form-data"> {% csrf_token %}
<body style="background-color:#c8d6e5 ">
<div class="root">
<div class="myframe">
    <div class="row" style="padding-left:20px;font-size:18px;font-weight:bold;letter-spacing:2px;display: flex;align-items: center;>                      ">
        <img src="/static/cate.jpg" width="40">
        Add Category
    </div>
    <div class="row gap" >
        <div class="col">
            <input type="text" name="categoryname" class="form-control" placeholder="Category Name">
        </div>
    </div>

    <div class="row gap" >

        <div class="col" style="display: flex;align-items: center;flex-direction:row;">
            <input type="file" accept="image/*" id="picture" name="picture" class="form-control">
            <!--<div> <img src="/static/addcategory.png" id="pic" width="80" height="80"/></div>-->
        </div>


    </div>
    <div class="row gap" style="display: flex;justify-content: center">
            <img src="/static/addcategory.png" id="pic" width="80" height="80"/>
        </div>
    <div class="row gap" >
        <div class="col" style="display: flex;justify-content: center;align-items: center">
             <button type="submit" class="btn btn-primary w-100">Save</button>
        </div>
        <div class="col" style="display: flex;justify-content: center;align-items: center">
             <button type="reset" class="btn btn-primary w-100">Reset</button>
        </div>
    </div>
    <div class="row gap" >
        <div class="col" style="display: flex;justify-content: center;align-items: center;font-size: 18;font-weight: bold;">
             {{ msg }}
        </div>
    </div>


</div>
</div>
</body>
</form>
</html>

