<style type="text/css" xmlns="http://www.w3.org/1999/html">
.root{
    display: flex;
    justify-content: center;
    background-color: #c8d6e5;
    padding: 20px;
}
 .myframe{
     width:80%;
     background-color: #ffffff;
     padding: 20px;
     border-radius: 10px;
     margin-top: 50px;
 }
 </style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Material Management</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/JavaScript/Search.js"></script>
<body style="background-color: #c8d6e5">
<div class="root">
<div class="myframe">
<div style="display: flex;justify-content: center;height: 40px">
    <input type="text" id="pattern" placeholder="  Search Product Name....." size="50" style="border-radius: 20px;border: 3px solid #555;">
</div>
<div id="result" style="margin-top: 10px;">
</div>
</div>
</div>
</body>
</html>